:root{
  --space-1:4px;
  --space-2:8px;
  --space-3:10px;
  --space-4:12px;
  --space-5:14px;
  --space-6:16px;
  --space-7:18px;
  --space-8:20px;
  --space-9:24px;
  --space-10:32px;
  --space-11:40px;
  --space-12:60px;
  --space-13:100px;
  --space-14:120px;
}
